<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.devfleet.android.minerhelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- End -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Prices -->

        <activity
            android:name="org.devfleet.android.minerhelper.priceActivities.OrePrices"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="org.devfleet.android.minerhelper.priceActivities.IcePrices"
            android:label="Ice"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="org.devfleet.android.minerhelper.priceActivities.GasPrices"
            android:label="Gas"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="org.devfleet.android.minerhelper.priceActivities.MineralPrices"
            android:label="Minerals"
            android:launchMode="singleTop"></activity>

        <!-- System selections -->

        <activity
            android:name="org.devfleet.android.minerhelper.systemSettings.OreSystemSelection"
            android:label="@string/SystemCtext"
            android:launchMode="singleTop"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.OrePrices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.devfleet.android.minerhelper.priceActivities.OrePrices" />
        </activity>

        <activity
            android:name="org.devfleet.android.minerhelper.systemSettings.IceSystemSelection"
            android:label="@string/SystemCtext"
            android:launchMode="singleTop"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.IcePrices"></activity>

        <activity
            android:name="org.devfleet.android.minerhelper.systemSettings.GasSystemSelection"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.GasPrices"
            android:label="@string/SystemCtext"
            android:launchMode="singleTop"></activity>

        <activity
            android:name="org.devfleet.android.minerhelper.systemSettings.MineralSystemSelection"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.MineralPrices"
            android:label="@string/SystemCtext"
            android:launchMode="singleTop">
        </activity>

        <!-- Item selection -->

        <activity
            android:name="org.devfleet.android.minerhelper.selectionSettings.OreSelection"
            android:label="@string/OreCtext"
            android:launchMode="singleTop"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.OrePrices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.devfleet.android.minerhelper.priceActivities.OrePrices" />
        </activity>

        <activity
            android:name="org.devfleet.android.minerhelper.selectionSettings.IceSelection"
            android:label="Select ice"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.IcePrices"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="org.devfleet.android.minerhelper.selectionSettings.GasSelection"
            android:label="Select gas"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.GasPrices"
            android:launchMode="singleTop">
        </activity>

        <activity
            android:name="org.devfleet.android.minerhelper.selectionSettings.MineralSelection"
            android:label="Select minerals"
            android:launchMode="singleTop"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.MineralPrices"></activity>

        <!-- General activities -->

        <activity
            android:name="org.devfleet.android.minerhelper.About"
            android:label="@string/AboutText"
            android:launchMode="singleTop"
            android:parentActivityName="org.devfleet.android.minerhelper.priceActivities.OrePrices">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.devfleet.android.minerhelper.priceActivities.OrePrices" />
        </activity>

        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>